.welcomeintro{
    width: 100%;
    height:100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    padding-top:4rem;
}

.line-span{
    width: 100%;
    height: 1px;
    display: block;
    background-color: var(--border-color);
    margin-bottom: 1rem;
}

.welcomeintro p{
    width:50%;
    text-align: start;
    font-size: 1.96rem;
    line-height:2.7rem;
    font-weight: 500;
    margin-top: 4rem;
    color: #454545;
}

.abx-image{
    width: 200px;
    height: 300px;
    display: block;
    object-fit: contain;
    margin-top: 10rem;
}

.welcomeintro .title-bold-extra .span-highlight{
    color: var(--black-color);
}

.welcomeintro .span-text,.welcomeintro .span-icon{
    color: var(--black-color);
}

.welcomeintro .small-title{
    width: 40%;
    margin: 0rem auto 6rem auto;
    text-align: center;
}

.welcomeintro .btn{
    margin-top: 8rem;
}



@media screen and (max-width:480px) {

    .welcomeintro{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .welcomeintro .title-bold-extra-welcome{
        width: 100%;
        text-align: start;
        margin: 0 auto 2rem auto;
        font-size: 2rem;
        line-height: 2.2rem;
        margin-top: 0;
    }

    .welcomeintro .small-title{
        width: 80%;
        margin: 0rem auto 0rem auto;
        text-align: center;
    }

    .welcomeintro .button-cta{
        margin-top: 3rem;
}
}

@media screen and (min-width:481px) and (max-width:768px) {

    .welcomeintro{
        width: 100%;
        padding-bottom: 0;
    }

    .welcomeintro .title-bold-extra{
        width: 80%;
        text-align: center;
        margin: 0 auto 2rem auto;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .welcomeintro .small-title{
        width: 80%;
        margin: 0rem auto 4rem auto;
        text-align: center;
    }
    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .welcomeintro{
        width: 100%;
        padding-bottom: 0;
    }

    .welcomeintro .title-bold-extra{
        width: 60%;
        text-align: center;
        margin: 0 auto 2rem auto;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .welcomeintro .small-title{
        width: 60%;
        margin: 0rem auto 4rem auto;
        text-align: center;
    }
    
}

@media screen and (min-width:1920px) {

    .text-intro{
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 300;
        width: 80%;
    }
}
