.welcomeintro{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    justify-content: center;
    align-items:space-between;
    padding: 50px 5% 50px 5%;
    background:linear-gradient(#fff,#c4f9ff31,#fff);
  
}

.large-intro{
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    width: 50%;
    color: #222222;
    text-align: start;
    margin-bottom: 0px;
    will-change: color, transform;
    display: none;
    font-family: "Roboto", sans-serif;
}
.text-intro{
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.45rem;
    width: 90%;
    margin: 0 auto;
    color: #303030;
    text-align: center;
    margin-bottom: 40px;
    will-change: color, transform;
    display: block;
    font-family: "Inter", serif;
}

.char {
  display: inline-block;
}

@media screen and (max-width:480px) {

    .welcomeintro{
        padding: 50px 5% 50px 5%;
    }


    .text-intro{
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.9rem;
        width: 90%;
        margin: 0px auto;
        color: #303030;
        text-align: center;
        will-change: color, transform;
        display: block;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {

        .welcomeintro{
        padding: 50px 5% 50px 5%;
        height: fit-content;
    }

        .text-intro{
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 300;
        width: 90%;
        
    }
    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .text-intro{
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 300;
        width: 90%;
        
    }
    
}

@media screen and (min-width:1920px) {

    .text-intro{
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 300;
        width: 80%;
    }
    
}