.welcomeintro{
    width: 100%;
    height:110vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    padding-top:2rem;
    position: relative;
    z-index: 3;
    background-color: var(--black-color);
 }

 .intro-container{
    width: 100%;
 }

.welcomeintro .w-intro{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:start;
    align-items: center;
    margin-top: 5rem;
}

.welcomeintro .w-intro .title-bold-extra{
    width:40%;
    text-align: center;
    text-transform: uppercase;
    line-height: 2rem;
    align-self: center;
    margin: 0 auto;
    
}

.welcomeintro .w-intro .logopartners{
    height: fit-content;
    width: 50%;
    margin-top: 6rem;
}

.welcomeintro .w-intro .myself{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 4rem;
}

.welcomeintro .w-intro .myself img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(0%);
}

.welcomeintro .w-intro .myself h3{
    width: fit-content;
    color: var(--text-grey-color);
    font-size: 0.65rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 1rem;
}

.welcomeintro .w-intro .myself h3:nth-child(2){
    font-size: 0.55rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--text-white-color);
}

.welcomeintro .abx-image{
    width: 200px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin-top: 10rem;
    clip-path: inset(0 0 100% 0);
    transition: none !important; 
    clip-path: inset(0 0 100% 0);
}




@media screen and (max-width:480px) {

    .welcomeintro{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .welcomeintro .title-bold-extra-welcome{
        width: 100%;
        text-align: start;
        margin: 0 auto 2rem auto;
        font-size: 2rem;
        line-height: 2.2rem;
        margin-top: 0;
    }

    .welcomeintro .small-title{
        width: 80%;
        margin: 0rem auto 0rem auto;
        text-align: center;
    }

    .welcomeintro .button-cta{
        margin-top: 3rem;
}
}

@media screen and (min-width:481px) and (max-width:768px) {

    .welcomeintro{
        width: 100%;
        padding-bottom: 0;
    }

    .welcomeintro .title-bold-extra{
        width: 80%;
        text-align: center;
        margin: 0 auto 2rem auto;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .welcomeintro .small-title{
        width: 80%;
        margin: 0rem auto 4rem auto;
        text-align: center;
    }
    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .welcomeintro{
        width: 100%;
        padding-bottom: 0;
    }

    .welcomeintro .title-bold-extra{
        width: 60%;
        text-align: center;
        margin: 0 auto 2rem auto;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .welcomeintro .small-title{
        width: 60%;
        margin: 0rem auto 4rem auto;
        text-align: center;
    }
    
}

@media screen and (min-width:1920px) {

    .text-intro{
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 300;
        width: 80%;
    }
}
