.welcomeintro{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 6rem 0 8rem 0;
    background-color: var(--white-color);
}

.welcomeintro .title-bold-extra{
    width: 50%;
    text-align: start;
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: var(--black-fade-color);
}

.welcomeintro .title-bold-extra .span-highlight{
    color: var(--black-color);
}

.welcomeintro .span-text,.welcomeintro .span-icon{
    color: var(--black-color);
}

.welcomeintro .small-title{
    width: 40%;
    margin: 0rem auto 6rem auto;
    text-align: center;
}

.welcomeintro .btn{
    margin-top: 8rem;
}



@media screen and (max-width:480px) {

    .welcomeintro{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .welcomeintro .title-bold-extra-welcome{
        width: 100%;
        text-align: start;
        margin: 0 auto 2rem auto;
        font-size: 2rem;
        line-height: 2.2rem;
        margin-top: 0;
    }

    .welcomeintro .small-title{
        width: 80%;
        margin: 0rem auto 0rem auto;
        text-align: center;
    }

    .welcomeintro .button-cta{
        margin-top: 3rem;
}
}

@media screen and (min-width:481px) and (max-width:768px) {

    .welcomeintro{
        width: 100%;
        padding-bottom: 0;
    }

    .welcomeintro .title-bold-extra{
        width: 80%;
        text-align: center;
        margin: 0 auto 2rem auto;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .welcomeintro .small-title{
        width: 80%;
        margin: 0rem auto 4rem auto;
        text-align: center;
    }
    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .welcomeintro{
        width: 100%;
        padding-bottom: 0;
    }

    .welcomeintro .title-bold-extra{
        width: 60%;
        text-align: center;
        margin: 0 auto 2rem auto;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .welcomeintro .small-title{
        width: 60%;
        margin: 0rem auto 4rem auto;
        text-align: center;
    }
    
}

@media screen and (min-width:1920px) {

    .text-intro{
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 300;
        width: 80%;
    }
}
