
.abt{
    background-color: var(--black-color);
    color: var(--text-white-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;

}

.abt .larger-h1{
    width: 50%;
    line-height: 4.7rem;
}

.abt .small-title{
    width: 30%;
    text-align: start;
    margin: 5rem auto;
    color: var(--text-grey-color);
}


.abt .why{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 6rem;
    margin-top: 6rem;
}


.abt .why img{
    display: block;
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.abt .why img:nth-child(2){
    width: 300px;
    height: 200px;
    align-self: flex-end;
}


.abt .why .intro-about{
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    align-items: start;
}

.abt .why .intro-about .small-title{
    margin: 1rem 0;
    width: 100%;
}
.abt .why .scrolling-stats{
    width: 60%;
    margin-top: 3rem;
}

.abt .why .scrolling-stats .st{
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
    padding-bottom: 0;
    border-bottom: 1px solid var(--border-fade-color);

}

.abt .why .scrolling-stats .st h4{
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    width: 30%;
    text-align: start;
    color: var(--text-whitefade-color);
}

.abt .why .scrolling-stats .st p{
    font-weight: 300;
    color: var(--text-grey-color);
    text-transform: capitalize;
    margin: 0.5rem 0;
    width: 50%;
}
.abt .profile{
    width: 100%;
    height: 50vh;
    display: none;
}

.abt .profile .intro-v{
    width: 100%;
    height: fit-content;
    justify-content: start;
}

.abt .profile .intro-v .title-bold-extra{
    text-transform: capitalize;
}

.abt .profile .intro-v .small-title{
    text-transform: capitalize;
    margin: 1rem 0;
}

/* our-services */
.abt .our-services{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    padding-top: 5rem;
}

.abt .our-services .small-title {
    margin: 1rem 0;
}

.abt .our-services ul{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin:6rem 0;
    padding: 0;
    position: relative;
}

.abt .our-services ul .servitm{
    width: 100%;
    border-bottom: 1px solid var(--border-fade-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    position: relative;
    color: var(--text-white-color);
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.abt .our-services ul .servitm:hover {
    background-color: var(--text-grey-color);
}

.abt .our-services ul .servitm:hover h3{
    color: var(--text-black-color);
}
.abt .our-services ul .servitm:hover h4{
    color: var(--text-black-color);
}

.abt .our-services ul .servitm:first-child{
    border-top: 1px solid var(--border-fade-color);
}

.abt .our-services ul .servitm h3{
    font-size: 0.65rem;
    font-weight: 400;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    color: var(--text-whitefade-color);
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    margin-left: 1rem;
}


.abt .our-services ul .servitm h4{
    font-size: 0.7rem;
    font-weight: 300;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    color: var(--text-whitefade-color);
    padding-top: 0.5rem;
}

.abt .our-services ul .servitm span{
    width: 1rem;
    height: 0.4px;
    background-color: var(--text-grey-color);
    margin-left: 0.5rem;
}

.abt .our-services ul .servitm:hover span{
    background-color: var(--text-black-color);
}

.abt .our-services ul .servitm img{
    width: 50vh;
    height: 50vh;
    position: absolute;
    left: 70%;
    top: 100%;
    transform: translate(-10%,-50%) scale(0.8);
    opacity: 0;
    transform-origin: center;
    transition: transform 0.5s ease,opacity 0.5s ease;
    border-radius: var(--border-radius);
    z-index: 15;
}

.abt .our-services ul .servitm:hover img{
    transform: translate(-10%,-60%) scale(1);
    opacity: 1;
}


.abt .strategy{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 5vh;
    padding-top: 2rem;
}

.abt .strategy .intro-v{
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
}

.abt .strategy .title-bold-extra{
    text-transform: capitalize;
}

.abt .strategy .small-title{
    margin: 1rem 0;
    width: 100%;
}

.abt .strategy .strgt{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-self: flex-end;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.abt .strategy .strgt .reas{
    width:25rem;
    height: 25rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
    margin-right: 1rem;
    position: relative;
    border: 1px solid var(--border-fade-color);
    padding: 2rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    color: var(--black-color);
}

.abt .strategy .strgt .reas:nth-child(2){
    background-color: violet;
}

.abt .strategy .strgt .reas:nth-child(3){
    background-color: black;
    color: white;
}

.abt .strategy .strgt .reas:nth-child(3) .small-title{
    color: var(--text-white-color);
}


.abt .reas .title-bold{
    margin-bottom: 0rem;
    font-weight: 900;
    margin-top: 2rem;
    text-transform: capitalize;
}
.abt .reas .small-title{
    width: 100%;
    color: var(--black-color);
}

/* how-work */
.how-work{
    width: 100%;
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

.how-work .small-title{
    margin: 1rem 0;
    width: 25%;
}

.how-work .steps{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    align-self: flex-end;
    padding-left: 10rem;
}

.how-work .steps .step{
    display: flex;
    flex-flow: column nowrap;
    width: 17rem;
    border-bottom: 1px solid var(--border-fade-color);
    padding: 2rem 0rem;
}

.how-work .steps .step:nth-child(2){
    margin-left:10rem;
    margin-top: 0rem;
}

.how-work .steps .step:nth-child(3){
    margin-left:0rem;
    margin-top: 2rem;
}

.how-work .steps .step:nth-child(4){
    margin-left:10rem;
    margin-top: 2rem;
}


.how-work .steps .step .fc{
    color: var(--text-grey-color);
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.how-work .steps .step .small-title{
    margin: 1rem 0;
    width: 100%;
}


/* team */

.abt .team{
    display: flex;
    flex-direction:column;
    height: fit-content;
    padding-top: 10vh;
    width: 100%;
    display: none;
}

.abt .team p{
    width: 100%;
}

.abt .team-list{
    width: 100%;
    height: 70vh;
    display: flex;
    margin-top: 5%;
}

.abt .team-container{
    width: 16rem;
    height: 20rem;
    border-radius: var(--border-radius);
}

.abt .team-container img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
    display: block;
    object-fit: cover;
    border-radius: inherit;
    transition: transform 2s cubic-bezier(0.22, 1, 0.36, 1);
    transform: scale(1);
}

.abt .team-container img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.abt .team-detail{
    width: 100%;
    height: 100%;
}

.abt .team-container .team-detail{
    padding: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    cursor: pointer;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: var(--text-whitefade-color);
    margin-top: 1rem;
}

.abt .team-container .team-detail h3{
    font-size: 1rem;
    line-height: 0.80rem;
    font-weight: 600;
    color: var(--text-whitefade-color);
}

.abt .team-container .team-detail h4 {
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.1rem;
    color: var(--text-grey-color);
}


.abt .phil{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 7rem;
    background-color: var(--black-fade-color);
}

.abt .phil .larger-h1{
    width: 60%;
    text-align: center;
    margin-bottom: 4rem;
    text-transform: capitalize;
}


.abt .phil .small-title{
    width: 30%;
    margin-top: 0;
    color: var(--text-grey-color);
    text-align: center;
}


.abt .phil .statics{
    width: 20%;
    height: fit-content;
    display: flex;
    flex-flow: wrap;
}

.abt .phil .statics .st{
    width: fit-content;
    height: fit-content;
    padding-top:0px;
    margin: 0 0px;
}


.abt .phil .statics .st:not(:last-child){
    margin-right: 20px;
    margin-bottom: 1rem;
}


.abt .phil .statics .st h4{
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}

.abt .phil .statics .st p{
    font-size: 0.8rem;
    width: fit-content;
    font-weight: 400;
    line-height: 0.7rem;
    text-transform: capitalize;
    margin: 1rem auto 0 auto;
    color: var(--text-grey-color);
}


.abt .skill{
    width: 100%;
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-fade-color);

}

.abt .skill .title-bold-extra {
    margin-right: 13rem;

}

.abt .skill .skill-group{
    width: fit-content;
}


.abt .skill .skill-group h2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.abt .skill .skill-group .skill-list {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
}

.abt .skill .skill-group .skill-list li {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--text-grey-color);
}