.faq{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    color: var(--text-black-color);
    background-color: var(--white-color);
    z-index: 13;
    padding-bottom: 5rem;
}

.faq .service-title{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
}

.faq .service-title .larger-h1{
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.faq .service-title .small-title{
    width: 50%;
}

.faq .service-title .img-x{
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
}

.faq .service-title .img-x img{
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.faq .service-title .img-x .linkTo{
    margin-top: 1rem;
}

.faq .faqsection{
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    margin-top: 0rem;
}

.faq .faqblock{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-self:center;
    margin-bottom: 0.1rem;
    background-color: var(--white-color);
    padding: 0.7rem  0rem;
    border-bottom: 0.5px solid var(--text-grey-color);
}

.faq .faqblock .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.faq .faqblock .faq-question .small-title{
    width: fit-content;
    font-weight: 600;
    opacity: 1;
    text-transform: capitalize;
    color: var(--text-blackfade-color);
}

.faq .faqblock .faq-question span {
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    color: var(--text-blackfade-color);
}


.faq .faqblock .faq-answer {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.23rem;
  font-weight: 300;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-5px);
}

.faq .faqblock .faq-answer p{
    width: 90%;
    font-weight: 300;
}

.faq .faqblock .faq-answer.show {
  max-height: 300px; 
  opacity: 1;
  transform: translateY(0);
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}