.testmonial{
    padding: 10rem 0 10rem 0;
    display: flex;
    flex-flow:  column nowrap;
    justify-content: space-between;
}

.t-header{
    justify-content: space-between;
}

.testmonial .title-bold-extra{
    text-align: start;
    width: 120%;
    color: var(--black-color);
}

.testmonial .span-text,.testmonial .span-icon{
    color: var(--black-color);
}

.slider-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
}

.slide-holder{
    width: 100%;
    height: fit-content;
    margin-bottom: 3rem;
    position: relative;
    justify-content: flex-end;
    margin: 0 auto;
}
.slide-button{
    height: fit-content;
    width: fit-content;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
    border: 1px solid var(--black-color);
}

.slide-arrow{
    color: var(--black-border-color);
    size: 2rem;
    stroke-width: 1;
}
.prev{
    left: 10px;
}

.next{
    right: 10px;
}


.main-card{
    width: 100%;
    display: flex;
    height: fit-content;
    margin: 60px auto;
    overflow: hidden;
    white-space: nowrap; 
    position: relative;
}

.card-test{
    border-radius: var(--border-radius);
    height: fit-content;
    width: 30%;
    padding: 4rem 0;
    opacity: 1;
    margin-right:0rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    white-space: normal;
    color: var(--black-color);
    background-color: var(--dark-white);
    position: relative;
    overflow: hidden;
}

.testmonial .background-shadow{
    top: -150px;
    left: -100px;
}

.card-test .title-c{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin: 0px auto 3rem auto ;
}

.card-test .title-c img{
    border-radius: 50%;
    width: 4rem;
    height:4rem;
}

.card-test .title-c .names{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
}

.card-test .title-c .names h4{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    text-align: start;
    text-transform: capitalize;
}

.card-test .title-c .names h3{
    font-size: 0.7rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2rem;
    margin-top: 0.3rem;
    padding: 0;
    text-align: start;
    text-transform: uppercase;
}

.card-test .small-title{
    width: 80%;
    text-align: start;
    margin: 0 auto;
    font-weight: 400;
}

.card-test .test-icon{
    position: absolute;
    font-size: 3rem;
    bottom: 6rem;
    right: 20%;
    stroke-width: 1;
}

.card-test .stars{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 3rem auto 0 auto;

}

.card-test .stars span{
    height: fit-content;
    width: fit-content;
    display: block;
    padding: 0;
}
.card-test .stars span img{
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0rem;
}


@media screen and (max-width:480px) {

    .testmonial .title-bold-extra{
        text-align: center;
        margin: 0 auto;
    }

    .testmonial .slide-holder{
        margin: 2rem auto;
        justify-content: center;
    }


    .slide-button{
        padding: 0.5rem;
    }

    .slide-arrow{
        size: 1rem;
    }

    .main-card{
        padding: 0px;
        margin-top: 30px;
        overflow-x: hidden;
        gap: 20px;
        white-space: nowrap;
    }

    .card-test{
        width: 90%;
        padding: 20px;
        margin-right:5%;
        margin-left: 5%;
        flex-shrink: 0;
        white-space: normal; 
        border-right: 1px solid var(--black-border-color);
    }
    .card-test .title-c{
        margin-bottom: 20px;
        width: 100%;
    }

    .card-test .title-c .img-pass{
        width: 50px;
        height:50px;
        border-radius: 50%;
    }

    .card-test .title-c .img-pass img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-test .title-c .names{
        margin-left: 20px;
    }

    .card-test .title-c .names h4{
        font-size: 1rem;
        line-height: 1rem;
    }

    .card-test .title-c .names h3{
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 0.8rem;
        margin-top: 5px;
    }

    .card-test p{
        width: fit-content;
        font-size: 0.82rem;
        line-height: 1.25rem;
        font-weight: 300;
    }



    
}

@media screen and (min-width:481px)  and (max-width:768px){

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 100%;
        justify-content: flex-end;
    }
    .slide-button{
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
    }

    .main-card{
        width: 100%;
    }

    .card-test{
        min-height:250px;
        width: 60%;
        padding: 20px;
        margin-right:50px;
    }
    .card-test .title-c{
        margin: 0px auto 20px auto ;
    }

    .card-test .title-c img{
        width: 50px;
        height:50px;
    }

    .card-test .title-c .names{
        margin-left: 20px;
    }

    .card-test .title-c .names h4{
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 0.7rem;
    }

    .card-test .title-c .names h3{
        font-size: 0.8rem;
        line-height: 0.8rem;
        margin-top: 0.5rem;
    }

    .card-test p{
        width: 100%;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.35rem;
        margin: 25px auto;
    }

    .card-test .stars{
        margin: 40px auto 10px auto ;
    }

    .card-test .stars span img{
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }

    
}

@media screen and (min-width:769px)  and (max-width:1024px){

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 90%;
        justify-content: flex-end;
    }
    .slide-button{
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
    }

    .main-card{
        width: 100%;
    }

    .card-test{
        min-height:300px;
        width: 40%;
        padding: 20px;
        margin-right:50px;
    }
    .card-test .title-c{
        margin: 0px auto 20px auto ;
    }

    .card-test .title-c img{
        width: 50px;
        height:50px;
    }

    .card-test .title-c .names{
        margin-left: 20px;
    }

    .card-test .title-c .names h4{
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 0.6rem;
    }

    .card-test .title-c .names h3{
        font-size: 0.8rem;
        line-height: 0.85rem;
        margin-top: 0.6rem;
    }

    .card-test p{
        width: 100%;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.35rem;
        margin: 25px auto;
    }

    .card-test .stars{
        margin: 40px auto 10px auto ;
    }

    .card-test .stars span img{
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }

    
}

@media screen and (min-width:1920px) {

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 90%;
        justify-content: center;
    }
    .slide-button{
        padding: 25px;
        margin: 0 30px;
        cursor: pointer;
    }

    
    .main-card{
        width: 80%;
    }

    .card-test{
        min-height:400px;
        width: 60%;
        padding: 20px 60px;
        margin-right:100px;
    }
    .card-test .title-c{
        margin: 0px auto 40px auto ;
    }

    .card-test .title-c img{
        width: 90px;
        height:90px;
    }

    .card-test .title-c .names{
        margin-left: 40px;
    }

    .card-test .title-c .names h4{
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    .card-test .title-c .names h3{
        font-size: 1.3rem;
        line-height: 0.6rem;
        margin-top: 0.6rem;
    }

    .card-test p{
        width: 80%;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.6rem;
        margin: 40px auto;
    }

    .card-test .stars{
        margin: 100px auto 50px auto ;
    }

    .card-test .stars span img{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }


    
}