.testmonial{
    padding: 50px 0px;
    display: flex;
    flex-flow:  column nowrap;
    justify-content: space-between;
    color: #303030;
}

.testmonial .intro-div{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    display: none;
}

.testmonial .intro-div h4{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}

.testmonial .intro-div img{
    width: 250px;
    height: 70px;   
    margin-top: 0px;
}


.slider-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
}

.slide-holder{
    width: 90%;
    height: fit-content;
    margin-bottom: 50px;
    position: relative;
    justify-content: flex-end;
    margin: 0 auto;
}
.slide-button{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: 1px solid #00000050;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
}

.slide-arrow{
    color: #000000c0;
    size: 2rem;
    stroke-width: 1;
}
.prev{
    left: 10px;
}

.next{
    right: 10px;
}


.main-card{
    width: 100%;
    padding: 0px 5%;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    margin: 60px auto;
    overflow: hidden;
    white-space: nowrap; 
    position: relative;
}

.card-test{
    border-radius: 0px;
    min-height:400px;
    width: 40%;
    padding: 20px 30px;
    border: 0.6px solid #ababab24;
    opacity: 1;
    margin-right:50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    white-space: normal; 
}
.card-test .title-c{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin: 0px auto 20px auto ;
}

.card-test .title-c img{
    border-radius: 50%;
    width: 60px;
    height:60px;
}

.card-test .title-c .names{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
}

.card-test .title-c .names h4{
    font-size: 1rem;
    font-weight: 900;
    color: #444;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: start;
    text-transform: capitalize;
}

.card-test .title-c .names h3{
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    line-height: 13px;
    margin-top: 3px;
    padding: 0;
    text-align: start;
}

.card-test p{
    width: 100%;
    text-transform: lowercase;
    font-size: 0.95rem;
    font-family: "Inter", serif;
    font-weight: 300;
    line-height: 1.4rem;
    text-align: center;
    margin: 20px auto;
    color: #021c2b;
}

.card-test .stars{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 40px auto 10px auto ;

}

.card-test .stars span{
    height: fit-content;
    width: fit-content;
    display: block;
}
.card-test .stars span img{
    width: 10px;
    height: 10px;
    margin-right: 3px;
}


@media screen and (max-width:480px) {

    .testmonial .intro-div{
        margin-top: 30px;
    }

    .testmonial .intro-div h4{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .testmonial .intro-div img{
        width: 250px;
        height: 70px;   
    }


    .main-card{
        padding: 0px;
        margin-top: 30px;
        overflow-x: hidden;
        gap: 20px;
        white-space: nowrap;
    }

    .card-test{
        width: 90%;
        padding: 20px;
        margin-right:5%;
        margin-left: 5%;
        flex-shrink: 0;
        white-space: normal; 
    }
    .card-test .title-c{
        margin-bottom: 20px;
        width: 100%;
    }

    .card-test .title-c img{
        width: 50px;
        height:50px;
    }

    .card-test .title-c .names{
        margin-left: 20px;
    }

    .card-test .title-c .names h4{
        font-size: 1rem;
        line-height: 1rem;
    }

    .card-test .title-c .names h3{
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 0.8rem;
        margin-top: 5px;
    }

    .card-test p{
        width: fit-content;
        font-size: 0.82rem;
        line-height: 1.25rem;
        font-weight: 300;
    }



    
}

@media screen and (min-width:481px)  and (max-width:768px){

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 100%;
        justify-content: flex-end;
    }
    .slide-button{
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
    }

    .main-card{
        width: 100%;
    }

    .card-test{
        min-height:250px;
        width: 60%;
        padding: 20px;
        margin-right:50px;
    }
    .card-test .title-c{
        margin: 0px auto 20px auto ;
    }

    .card-test .title-c img{
        width: 50px;
        height:50px;
    }

    .card-test .title-c .names{
        margin-left: 20px;
    }

    .card-test .title-c .names h4{
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 0.7rem;
    }

    .card-test .title-c .names h3{
        font-size: 0.8rem;
        line-height: 0.8rem;
        margin-top: 0.5rem;
    }

    .card-test p{
        width: 100%;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.35rem;
        margin: 25px auto;
    }

    .card-test .stars{
        margin: 40px auto 10px auto ;
    }

    .card-test .stars span img{
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }

    
}

@media screen and (min-width:769px)  and (max-width:1024px){

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 90%;
        justify-content: flex-end;
    }
    .slide-button{
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
    }

    .main-card{
        width: 100%;
    }

    .card-test{
        min-height:300px;
        width: 40%;
        padding: 20px;
        margin-right:50px;
    }
    .card-test .title-c{
        margin: 0px auto 20px auto ;
    }

    .card-test .title-c img{
        width: 50px;
        height:50px;
    }

    .card-test .title-c .names{
        margin-left: 20px;
    }

    .card-test .title-c .names h4{
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 0.6rem;
    }

    .card-test .title-c .names h3{
        font-size: 0.8rem;
        line-height: 0.85rem;
        margin-top: 0.6rem;
    }

    .card-test p{
        width: 100%;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.35rem;
        margin: 25px auto;
    }

    .card-test .stars{
        margin: 40px auto 10px auto ;
    }

    .card-test .stars span img{
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }

    
}

@media screen and (min-width:1920px) {

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 90%;
        justify-content: center;
    }
    .slide-button{
        padding: 25px;
        margin: 0 30px;
        cursor: pointer;
    }

    
    .main-card{
        width: 80%;
    }

    .card-test{
        min-height:400px;
        width: 60%;
        padding: 20px 60px;
        margin-right:100px;
    }
    .card-test .title-c{
        margin: 0px auto 40px auto ;
    }

    .card-test .title-c img{
        width: 90px;
        height:90px;
    }

    .card-test .title-c .names{
        margin-left: 40px;
    }

    .card-test .title-c .names h4{
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    .card-test .title-c .names h3{
        font-size: 1.3rem;
        line-height: 0.6rem;
        margin-top: 0.6rem;
    }

    .card-test p{
        width: 80%;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.6rem;
        margin: 40px auto;
    }

    .card-test .stars{
        margin: 100px auto 50px auto ;
    }

    .card-test .stars span img{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }


    
}