.testmonial{
    padding: 3rem 0 1rem 0;
    display: flex;
    flex-flow:  column nowrap;
    justify-content: space-between;
    background-color: var(--white-color);
    color: var(--text-blackfade-color);
    z-index: 7;
}

.t-header{
    justify-content: space-between;
}

.testmonial .title-bold-extra{
    text-align: start;
    width: 120%;
    color: var(--text-blackfade-color);
    
}

.testmonial .span-text,.testmonial .span-icon{
    width: fit-content;
    color: var(--text-blackfade-color);
}

.slider-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
}

.main-card{
    width: 100%;
    display: flex;
    height: fit-content;
    margin: 4rem auto;
}

.card-test{
   width: 100%;
   height: 50vh;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   overflow: hidden;
   position: relative;
}


.card-test .slider{
    width: 15%;
    height: 10vh;
}

.card-test .slider .controller{
    align-items: center;
}


.card-test .slider .progress-container{
    width:100%;
    height:1px;
    background:var(--white-fade-color);
    overflow:hidden;
    margin-bottom:1rem;
    display: block;
}

.card-test .slider .progress-line{
    width:0%;
    height:100%;
    background:var(--black-color);
}

.card-test .slider .numbers{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--black-fade-color);
}
.card-test .slider .slide-holder{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
}
.card-test .slider .slide-holder .slide-button{
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: var(--white-color);
}

.card-test .slider .slide-holder .slide-button:nth-child(2){
    margin-left: 0.5rem;
}

.card-test .slider .slide-holder .slide-button:hover{
    cursor: pointer;
    background-color: var(--accent-color);
}

.slide-arrow{
    color: var(--black-border-color);
    size: 2rem;
    stroke-width:1;
}

.card-test .slide-wrapper{
    height:400px;
    overflow:hidden;
    width: 85%;
    margin-left: 3rem;
}

.card-test .slide-track{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.card-test .slides{
    width: 100%;
    min-height:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    white-space: normal;
    flex-shrink: 0;
    margin-top: 0;
}

.card-test .slides .names{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: var(--black-fade-color);
}

.card-test .slides .names h4{
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: start;
    text-transform: capitalize;
}

.card-test .slides .names h3{
    font-size: 0.65rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1rem;
    margin-top: 0.1rem;
    padding: 0;
    text-align: start;
    text-transform: uppercase;
}

.card-test .slides .testmonial-text{
    width: 65%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    text-align: start;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.25rem;
    color: var(--text-color);
    padding: 0;
    margin-bottom: 1rem;
}

.card-test .quote{
    font-size: 3rem;
    stroke-width: 1;
    position: absolute;
    top: 10%;
    left: 44%;
    transform: translate(-50%,-50%);
}



@media screen and (max-width:480px) {

    .testmonial .title-bold-extra{
        text-align: center;
        margin: 0 auto;
    }

    .testmonial .slide-holder{
        margin: 2rem auto;
        justify-content: center;
    }


    .slide-button{
        padding: 0.5rem;
    }

    .slide-arrow{
        size: 1rem;
    }

    .main-card{
        padding: 0px;
        margin-top: 30px;
        overflow-x: hidden;
        gap: 20px;
        white-space: nowrap;
    }

    .card-test{
        width: 90%;
        padding: 20px;
        margin-right:5%;
        margin-left: 5%;
        flex-shrink: 0;
        white-space: normal; 
        border-right: 1px solid var(--black-border-color);
    }
    .card-test {
        margin-bottom: 20px;
        width: 100%;
    }

    .card-test  .img-pass{
        width: 50px;
        height:50px;
        border-radius: 50%;
    }

    .card-test  .img-pass img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-test  .names{
        margin-left: 20px;
    }

    .card-test  .names h4{
        font-size: 1rem;
        line-height: 1rem;
    }

    .card-test  .names h3{
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 0.8rem;
        margin-top: 5px;
    }

    .card-test p{
        width: fit-content;
        font-size: 0.82rem;
        line-height: 1.25rem;
        font-weight: 300;
    }



    
}

@media screen and (min-width:481px)  and (max-width:768px){

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 100%;
        justify-content: flex-end;
    }
    .slide-button{
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
    }

    .main-card{
        width: 100%;
    }

    .card-test{
        min-height:250px;
        width: 60%;
        padding: 20px;
        margin-right:50px;
    }
    .card-test {
        margin: 0px auto 20px auto ;
    }

    .card-test  img{
        width: 50px;
        height:50px;
    }

    .card-test  .names{
        margin-left: 20px;
    }

    .card-test  .names h4{
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 0.7rem;
    }

    .card-test  .names h3{
        font-size: 0.8rem;
        line-height: 0.8rem;
        margin-top: 0.5rem;
    }

    .card-test p{
        width: 100%;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.35rem;
        margin: 25px auto;
    }


    
}

@media screen and (min-width:769px)  and (max-width:1024px){

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 90%;
        justify-content: flex-end;
    }
    .slide-button{
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
    }

    .main-card{
        width: 100%;
    }

    .card-test{
        min-height:300px;
        width: 40%;
        padding: 20px;
        margin-right:50px;
    }
    .card-test {
        margin: 0px auto 20px auto ;
    }

    .card-test  img{
        width: 50px;
        height:50px;
    }

    .card-test  .names{
        margin-left: 20px;
    }

    .card-test  .names h4{
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 0.6rem;
    }

    .card-test  .names h3{
        font-size: 0.8rem;
        line-height: 0.85rem;
        margin-top: 0.6rem;
    }

    .card-test p{
        width: 100%;
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.35rem;
        margin: 25px auto;
    }



    
}

@media screen and (min-width:1920px) {

    .slider-track {
        display: flex;
        transition: transform 0.6s ease-in-out;
        width: 100%;
    }

    .slide-holder{
        width: 90%;
        justify-content: center;
    }
    .slide-button{
        padding: 25px;
        margin: 0 30px;
        cursor: pointer;
    }

    
    .main-card{
        width: 80%;
    }

    .card-test{
        min-height:400px;
        width: 60%;
        padding: 20px 60px;
        margin-right:100px;
    }
    .card-test {
        margin: 0px auto 40px auto ;
    }

    .card-test  img{
        width: 90px;
        height:90px;
    }

    .card-test  .names{
        margin-left: 40px;
    }

    .card-test  .names h4{
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    .card-test  .names h3{
        font-size: 1.3rem;
        line-height: 0.6rem;
        margin-top: 0.6rem;
    }

    .card-test p{
        width: 80%;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.6rem;
        margin: 40px auto;
    }

}