.project-page{
    padding: 0;
    display: flex;
    flex-flow: column;
    padding-top: 10rem;
    background-color: var(--black-color);
    color: var(--text-whitefade-color);
}

.work-title{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5rem;
}

.work-title h1{
    width: 100%;
    text-align: start;
    margin-bottom: 2rem;
}

.project-page .title{
    width: 50%;
    margin-top: 0;
    margin-bottom: 0%;
}

.title .small-title{
    width: 50%;
    font-weight: 300;
}

.project-list{
    width: 100%;
    height: fit-content;
    padding-bottom: 5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.project-item {
    width: 100%;
    height: fit-content;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.project-item:not(:last-child){
    border-bottom: 1px solid var(--border-fade-color);
    margin-bottom: 8rem;
}

.project-item img{
    width: 26rem;
    height: 28rem;
    display: block;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.large-description{
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin-top: 3rem;
}

.project-title{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.project-title .linkto{
    margin-top: 3rem;
    color: var(--text-whitefade-color);
    text-transform: uppercase;
    font-size: 0.7rem;
    background-color: transparent;
    padding: 0.4rem 0.7rem;
    text-decoration: none;
}

.project-title .linkto:hover{
    text-decoration: underline;
    color: var(--accent-color);
}

.simple-description{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    margin: 0px;
}

.simple-description h3{
    font-size: 2rem;
    line-height: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

.simple-description p{
    font-size: 0.6rem;
    line-height: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0.85rem;
    width: fit-content;
    text-align: center;
    color: var(--text-grey-color);
    margin-right: 0.6rem;
    border: 1px solid var(--border-fade-color);
    padding: 0.3rem 0.5rem;
    border-radius: var(--border-radius);
}

.project-title .large-description{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--text-grey-color);
}

.how-we-work{
    width: 100%;
    height: fit-content;
    background-color: var(--black-fade-color);
    display: flex;
    flex-flow: column nowrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.how-we-work span{
    font-size: 0.7rem;
    margin-bottom: 2rem;
    color: var(--text-whitefade-color);
    text-transform: uppercase;
    font-weight: 400;

}

.how-we-work ul{
    width: 100%;
    padding: 0;
}

.how-we-work ul .listing-process{
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid var(--border-fade-color);
    padding: 1.6rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
}

.how-we-work ul .listing-process h3{
    color: var(--text-whitefade-color);
    font-size: 2rem;
    font-weight: 500;
    width: 60%;
}

.how-we-work ul .listing-process .list-pr{
    display: flex;
    height: fit-content;
    width: fit-content;
}

.how-we-work ul .listing-process .list-pr p{
    font-size: 0.80rem;
    color: var(--text-grey-color);
    width: fit-content;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 1rem;
}

.list-pr p:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
}


@media screen  and (max-width:480px) {

    .project-page{
        padding-top: 5rem;
    }

    .work-title{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .work-title h1{
        width: 100%;
        text-align: start;
        margin: 0;
    }

    .project-page .title{
        width: 100%;
        margin-top: 1rem;
    }

    .title .small-title{
        width: 70%;
    }

    .project_list{
        width: 100%;

    }

    .project-item {
        width: 100%;
        height: 50vh;
        margin: 1rem auto;
    }

    .project-item img{
        width: 100%;
        height: 80%;
    }

    .simple-description{
        width: 100%;
        margin: 0px;
        padding: 1rem 0;
        align-items: center;
    }

    .simple-description h3{
        font-size: 0.9rem;
        line-height: 1rem;
        width: 40%;
    }

    .simple-description p{
        font-size: 0.72rem;
        font-weight: 400;
    }


    
}