.service-section{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: start;
    background-color: var(--black-color);
    background-image: url(/new-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 5;
}
.service-section .service-title{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.service-section .service-title .larger-h1{
        color: var(--text-white-color);
        font-weight: 700;
        font-size: 4.5rem;
        line-height:4.5rem;
        text-transform: uppercase;
        letter-spacing: -2px;
        text-align: center;
        margin: 1rem auto;
}


.service-section .service-title .small-title{
        width: 25%;
        color: var(--text-grey-color);
        text-align: center;
}
.service-list{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.spacer-trigger{
    height: 130vh;
    width: 100%;

}

.service-list .service-item{
    width:60%;
    height: 65vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
    135deg,
    #2a2a2a 0%,
    #202020 50%,
    #212222 100%
    );
    border-top: 1px solid rgba(174, 174, 174, 0.118);
    z-index: 5;
    padding: 0;
}

.service-list .service-item:last-child{
    margin-bottom: 0px;
}

.service-list .service-item .x-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    margin: 0;
}

.service-list .service-item h3{
    color: #343434b2;
    font-weight: 900;
    font-size: 10rem;
    position: absolute;
    top: -0.2rem;
    z-index: -1;
    opacity: 0.5;
}
.service-list .service-item .x-item h2{
    width: 100%;
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 800;
    color: var(--text-white-color);
    text-transform: capitalize;
    text-align: center;
}

.service-list .service-item .x-item p{
    width: 70%;
    font-size: 0.78rem;
    line-height: 1.2rem;
    color: var(--text-whitefade-color);
    font-weight: 400;
    margin-top:3rem;
    text-align: center;
}

.service-list .service-item .x-item ul{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.service-list .service-item .x-item ul li{
    width: fit-content;
    font-size: 0.55rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-grey-color);
    list-style: none;
    margin: 0.2rem 0.4rem;
    /* border: 1px solid var(--border-fade-color);
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-radius); */
}


.service-list .service-item  img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: none;
    position: absolute;
    z-index: -2;
    right: 0;
    bottom: 0;
    border-radius: var(--border-radius);
}


@media screen and (max-width:480px) {

    .service-list{
        margin:5rem 0 ;
    }

    .service-section .small-title{
        width: 80%;
    }

    .service-list .service-item{
        flex-flow: column nowrap;
        margin: 1rem auto;
    }

    .service-list .service-item .x-item{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
    }

    .service-list .service-item .x-item h2{
        margin:auto 10%;
        font-size: 2.5rem;
        line-height: 2rem;
}

    .service-list .service-item .x-item ul{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
        justify-content: center;
        margin:1rem 0;
        padding: 0;
    }


    .service-list .service-item ul li{
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-left: 10%;

}







}

@media screen and (min-width:481px) and (max-width:768px) {
    .serviceItem{
        width: 46%;
        margin-right: 1rem;
        margin-bottom: 30px;
        min-height: 300px; 
        padding: 20px;
    }

    .serviceItem:hover{
        cursor: pointer;
    }

    .serviceItem:nth-child(3n-2){
        margin-left: 0;
    }

    .serviceItem:nth-child(3n){
        margin-right: 1rem;
    }

    .serviceItem h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
        }

        .serviceItem ul li{
        margin-top: 1rem;
        margin-right: 0.6rem;
        font-size: 0.6rem;
        line-height: 0.6rem;
        font-weight: 500;
        }


    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .serviceItem{
        width: 32%;
        margin-right: 1.1rem;
        min-height: 330px; 
    }

    .serviceItem h2{
        font-size: 1.7rem;
        line-height: 1.7rem;
        font-weight: 500;
        margin-top:0.4rem;
    }


    .serviceItem ul li{
        margin-top: 0.5rem;
        margin-right: 0.6rem;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 0.6rem;
    }

    
}

@media screen and (min-width:1920px) {

    .service-section{
    padding-top: 150px;
    padding-bottom: 150px;
    }

    .service-list{
    margin-top: 100px;
   }

   .serviceItem{
    width: 525px;
    margin-right: 3rem;
    margin-bottom: 30px;
    min-height: 600px; 
    padding: 40px;
    }

    .serviceItem:nth-child(3n-2){
     margin-left: 0;
    }

    .serviceItem:nth-child(3n){
    margin-right: 3rem;
    }

    .serviceItem h2{
    font-size: 3.2rem;
    line-height: 3rem;
    font-weight: 700;
    margin-top:0px;
    }

    .serviceItem ul{
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    }


    .serviceItem ul li{
    font-size: 1.25rem;
    line-height: 1.2rem;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-right: 20px;
    }
  
    .noicon h3{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}
}