.service-section{
    background-color: var(--primary_lite);
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 100px;
}

.service-list{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    padding: 0 5%;
}

.serviceItem{
    width: 31%;
    margin-right: 2.8rem;
    margin-bottom: 30px;
    min-height: 400px; 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.serviceItem:hover{
    cursor: pointer;
}

.serviceItem:nth-child(3n-2){
    margin-left: 0;
}

.serviceItem:nth-child(3n){
    margin-right: 0;
}

.link-icon:hover{
    color: #00c9ff;
}
.noicon{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.noicon h3{
    list-style: none;
    font-size: 1.2rem;
    color: #444;
    font-weight: 200;
    text-transform: uppercase;
    display: none;
}

.icons{
    width: fit-content;
    height: fit-content;
    display: block;
    position: relative;
    margin:30px 20px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    stroke-width: 2px;
}

.serviceItem h2{
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top:5px;
    text-align: start;
    width: 100%;
    color:#303030;
}

.serviceItem p{
    font-size: 14px;
    font-family: "Inter", serif;
    font-weight: 300;
    line-height: 24px;
    text-transform: lowercase;
    width: 100%;
    display: none;
}

.serviceItem ul{
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: fit-content;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.serviceItem > :last-child{
    margin-top: auto;
    margin-bottom: 20px;
}
.serviceItem ul li{
    list-style: none;
    margin-top: 8px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 10.5px;
    font-weight: 400;
    line-height: 5px;
    color: #444;
}


@media screen and (max-width:480px) {

    .service-list{
        width: 100%;
        margin-top: 40px;
    }

    .serviceItem{
        width: 100%;
        margin-right: 0rem;
        margin-bottom: 30px;
        min-height: 200px; 
        padding: 10px;
    }

    .noicon{
        margin-top: 10px;
    }

    .noicon h3{
        font-size: 1rem;
        font-weight: 200;
    }

    .icons{
        margin:1rem 0;
    }

    .serviceItem h2{
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
    margin-top:0px;
    }

    .serviceItem ul{
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    }


    .serviceItem ul li{
    margin-top: 1rem;
    margin-right: 20px;
    font-size: 0.6rem;
    line-height: 0.6rem;
    }



}

@media screen and (min-width:481px) and (max-width:768px) {
    .serviceItem{
        width: 46%;
        margin-right: 1rem;
        margin-bottom: 30px;
        min-height: 300px; 
        padding: 20px;
    }

    .serviceItem:hover{
        cursor: pointer;
    }

    .serviceItem:nth-child(3n-2){
        margin-left: 0;
    }

    .serviceItem:nth-child(3n){
        margin-right: 1rem;
    }

    .serviceItem h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
        }

        .serviceItem ul li{
        margin-top: 1rem;
        margin-right: 0.6rem;
        font-size: 0.6rem;
        line-height: 0.6rem;
        font-weight: 500;
        }


    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .serviceItem{
        width: 32%;
        margin-right: 1.1rem;
        min-height: 330px; 
    }

    .serviceItem h2{
        font-size: 1.7rem;
        line-height: 1.7rem;
        font-weight: 500;
        margin-top:0.4rem;
    }


    .serviceItem ul li{
        margin-top: 0.5rem;
        margin-right: 0.6rem;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 0.6rem;
    }

    
}

@media screen and (min-width:1920px) {

    .service-section{
    padding-top: 150px;
    padding-bottom: 150px;
    }

    .service-list{
    margin-top: 100px;
   }

   .serviceItem{
    width: 525px;
    margin-right: 3rem;
    margin-bottom: 30px;
    min-height: 600px; 
    padding: 40px;
    }

    .serviceItem:nth-child(3n-2){
     margin-left: 0;
    }

    .serviceItem:nth-child(3n){
    margin-right: 3rem;
    }

    .serviceItem h2{
    font-size: 3.2rem;
    line-height: 3rem;
    font-weight: 700;
    margin-top:0px;
    }

    .serviceItem ul{
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    }


    .serviceItem ul li{
    font-size: 1.25rem;
    line-height: 1.2rem;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-right: 20px;
    }
  
    .noicon h3{
    font-size: 2rem;
    color: #444;
    font-weight: 300;
    text-transform: uppercase;
}
}