*{margin: 0;}

.expection{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    background-color: var(--white-color);
    padding: 10rem 0 5rem 0;
}
.expection .title-bold-extra,.expection .title-bold-extra .span-highlight{
    color: var(--black-color);
}

.expection .span-text,.expection .span-icon{
    color: var(--black-color);
}

.expection .small-title {
    text-align: start;
    color: var(--black-color);
    margin-top: 3rem;
}

.expection .value-container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 8rem;
    color: var(--white-color);
   
}

.expection .value-container .value{
    width: 25rem;
    height: 45vh;
    padding-top: 2rem;
    padding-left: 2rem;
    background-color: var(--black-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    margin: 0 3rem 3rem 0;
    color: var(--black-color);
    position: relative;
    overflow: hidden;
     border-radius: var(--border-radius);
}

.expection .value-container .value .title-bold{
    width: 90%;
    color: var(--white-color);
    font-weight: 700;
    margin-top: 1rem;
    line-height: 2rem;
}

.expection .value-container .value .value-icon{
    width: 70px;
    height: 3rem;
    margin: 0;
    display: block;
    color: var(--accent-color);
}

.expection .value-container .value .small-title{
    width: 90%;
    margin-top: 1rem;
    text-align: start;
    display: block;
    color: var(--white-color);
}

@media screen and (max-width:480px) {
    .expection{
        padding: 3rem 0;
    }

    .expection .small-title {
        width: 80%;
    }

    
}