*{margin: 0;}

.expection{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    background-color: var(--white-fade-color);
    padding:10rem 0 20rem 0rem;
    z-index: 6;
}

.ex-intro{
    width: 50%;
}
.expection .title-bold-extra{
    height: fit-content;
    color: var(--black-color);
}

.expection .span-text,.expection .span-icon{
    height: fit-content;
    color: var(--black-color);
}

.expection .ex-intro .small-title {
    text-align: start;
    margin-top: 2rem;
    font-weight: 400;
    width: 40%;
}

.expection .ex-intro img{
    width: 20vh;
    height: 20vh;
    border-radius: var(--border-radius);
    align-self: flex-start;
    margin-top: 5rem;
    object-fit: cover;
}

.expection .value-container{
    height: fit-content;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
}

.expection .value-container .value{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: hidden;
    color: var(---text-blackfade-color);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 3rem;
    border-radius: var(--border-radius);
    background-image: url(/backimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white-fade-color);
}


.expection .value-container .value:last-child{
    border-bottom: none;
}

.expection .value-container .value .title-bold{
    width: 100%;
    font-weight: 700;
    margin-bottom: 1rem;
}

.expection .value-container .value .value-icon{
    width: 100%;
    height: 4rem;
    margin: 0;
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.expection .value-container .value .value-icon .icon-c{
    color: var(--accent-color);
    font-size: 6rem;
}

.expection .value-container .value .value-icon .title-bold-extra{
    font-size: 5rem;
    color: var(--text-whitefade-color);
}

.expection .value-container .value .small-title{
    width: 50%;
    text-align: start;
    display: block;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 400;
}

@media screen and (max-width:480px) {
    .expection{
        padding: 3rem 0;
    }

    .expection .small-title {
        width: 80%;
    }

    
}