.projectList{
    width: 100%;
    height: fit-content;
    padding-top:100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.grid{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    overflow-x: hidden;
}

.rows{
    display: flex;
    padding: 0;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.item:nth-child(1) { 
    margin-left: 0%;
}

.item:nth-child(2) {
    margin-left: 1%;
    margin-top: 3%;
}

.item:nth-child(3) {
    width: 450px;
    height: 520px; 
    margin-left: auto;
}

.img-holder{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: hidden;
}

.img-holder img{
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    overflow-x: hidden;
}

.item:hover{
    cursor: pointer;
}

.item h3{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    text-align: start;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0;
    color: #303030;
}

.item p{
    font-family: "Inter", sans-serif;
    width: 100%;
    text-align: start;
    margin: 8px 0px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 5px;
    color: #444;
}


@media screen and (max-width:480px) {

    .projectList{
        padding-top:50px;
        padding-bottom: 0px;
    }

    .grid{
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        overflow-x: hidden;
    }

    .rows{
        display: flex;
        padding: 0;
        flex-direction: column;
    }

    .item{
        display: flex;
        flex-direction: column;
        margin:30px auto;
        max-height: 320px;
    }

    .item:nth-child(1) {
       width: 100%;
    }

    .item:nth-child(2) {
        margin-left: 0%;
        width: 100%;
    }

    .item:nth-child(3) {
        width: 100%;
    }

    .img-holder img{
        width: 100%;
        aspect-ratio: 1;
    }

    .item h3{
        font-size: 1.2rem;
    }

    .item p{
        width: 100%;
        margin: 5px 0px;
        font-size: 0.65rem;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {

    .rows{
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    }

    .item{
        max-width: 300px;
        margin:50px auto;
        max-height: 350px;
    }

    .item:nth-child(1) {
       margin-left: auto;
    }

    .item:nth-child(2) {
        margin-left: auto;
    }

    .item:nth-child(3) {
        margin-left: auto;
    }


    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    
    .rows{
        display: flex;
        padding: 0;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .item{
        max-width: 34%;
        margin:0px auto;
        max-height: 350px;
    }

    .item:nth-child(1) {
       margin-left: auto;
    }

    .item:nth-child(2) {
        margin-left: auto;
    }

    .item:nth-child(3) {
        margin-left: auto;
    }

    .item h3{
        font-size: 1.2rem;
        margin-left: 10px;
    }

    .item p{
        width: 100%;
        margin:5px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        padding-left: 10px;
    }

}

@media screen and (min-width:1920px)  { 
    .rows{
        display: flex;
        padding: 0;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .item{
        width: 600px;
        margin:0px auto;
        height: 700px;
    }

    .item:nth-child(1) {
       margin-left: auto;
    }

    .item:nth-child(2) {
        margin-left: auto;
    }

    .item:nth-child(3) {
        margin-left: auto;
        width: 600px;
        height: 700px;
    }

    .item h3{
        font-size: 2.5rem;
        margin-left: 0px;
    }

    .item p{
        width: 100%;
        margin:20px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-left: 0px;
    }

}
