    .projectList{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        z-index: 4;
        background-color: var(--black-color);
        color: var(--text-whitefade-color);
    }

    .projectList .container-holder{
        margin: 1rem 0;
    }


    .project-slide{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        z-index: 3;
        padding: 0;
    }

    .item-s{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row;
        justify-content: start;
    }

    .item-s:nth-child(even) {
        justify-content: flex-end;
        margin-top: -20rem;
    }

    .item{
        width: 25rem;
        height: fit-content;
        position: relative;
        transition: all ease-in-out;
        border-radius: var(--border-radius);
        text-decoration: none;
        color: var(--text-whitefade-color);
    }

    .item:hover{
        text-decoration: none;
    }
    
    .img-holder{
        width: 100%;
        height: 24rem;
        border-radius: inherit;
        overflow: hidden;
    }

    .img-holder img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow-x: hidden;
        border-radius: inherit;
        transition: transform 2s cubic-bezier(0.22, 1, 0.36, 1);
        transform: scale(1);
    }

    .img-holder:hover img {
        transform: scale(1.03);
        cursor: pointer;
    }

    .pr-d{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items:start;
        margin-top: 1.2rem;
    }

    .pr{
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content:start;
    }

    .pr p{
        width: 100%;
        font-size: 0.78rem;
        line-height: 1.1rem;
        font-weight: 400;
        margin-top: 1rem;
        color: var(--text-grey-color);
    }

    .item h3{
        font-size: 1.5rem;
        width: fit-content;
        text-align: start;
        font-weight: 800;
        margin: 0;
    }

    .tags-column{
        width: 30%;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: flex-end;
    }

    .item .tags-column p{
        width: fit-content;
        padding: 0.3rem 0.4rem;
        text-align: start;
        font-size: 0.5rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 0.3rem;
        border-radius: 0.2rem;
        background-color: var(--black-fade-color);
    }

    .projectList .navigation-link{
        margin: 0rem auto 3rem auto;
        text-decoration: none;
    }

@media screen and (max-width:480px) {

    .projectList{
        padding-top:50px;
        padding-bottom: 0px;
    }

    .grid{
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        overflow-x: hidden;
    }

    .rows{
        display: flex;
        padding: 0;
        flex-direction: column;
    }

    .item{
        display: flex;
        flex-direction: column;
        margin:30px auto;
        max-height: 320px;
    }

    .item:nth-child(1) {
       width: 100%;
    }

    .item:nth-child(2) {
        margin-left: 0%;
        width: 100%;
    }

    .item:nth-child(3) {
        width: 100%;
    }

    .img-holder img{
        width: 100%;
        aspect-ratio: 1;
    }

    .item h3{
        font-size: 1.2rem;
    }

    .item p{
        width: 100%;
        margin: 5px 0px;
        font-size: 0.65rem;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {

    .rows{
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    }

    .item{
        max-width: 300px;
        margin:50px auto;
        max-height: 350px;
    }

    .item:nth-child(1) {
       margin-left: auto;
    }

    .item:nth-child(2) {
        margin-left: auto;
    }

    .item:nth-child(3) {
        margin-left: auto;
    }


    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    
    .rows{
        display: flex;
        padding: 0;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .item{
        max-width: 34%;
        margin:0px auto;
        max-height: 350px;
    }

    .item:nth-child(1) {
       margin-left: auto;
    }

    .item:nth-child(2) {
        margin-left: auto;
    }

    .item:nth-child(3) {
        margin-left: auto;
    }

    .item h3{
        font-size: 1.2rem;
        margin-left: 10px;
    }

    .item p{
        width: 100%;
        margin:5px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        padding-left: 10px;
    }

}

@media screen and (min-width:1920px)  { 
    .rows{
        display: flex;
        padding: 0;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .item{
        width: 600px;
        margin:0px auto;
        height: 700px;
    }

    .item:nth-child(1) {
       margin-left: auto;
    }

    .item:nth-child(2) {
        margin-left: auto;
    }

    .item:nth-child(3) {
        margin-left: auto;
        width: 600px;
        height: 700px;
    }

    .item h3{
        font-size: 2.5rem;
        margin-left: 0px;
    }

    .item p{
        width: 100%;
        margin:20px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-left: 0px;
    }

}
