.navbar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 2000;
    box-sizing: border-box;
    position: fixed;
    top: 1rem;
    padding-left: 3%;
    padding-right: 3%;
}


.logo{
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    padding: 0;
    text-decoration: none;
    backdrop-filter: blur(10px); 
    padding: 0.8rem;
    border-radius:var(--border-radius);

}

.border{
    border: 1px solid rgba(255, 255, 255, 0.204);
}
.logo:hover{
    text-decoration: none;
}

.logo .name-app{
    display: flex;
    flex-flow: column nowrap;
     margin-left: 0.5rem;
    transition: all 0.3s ease;
   
}
.logo .name-app h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
    text-align: start;
    padding: 0;
    margin: 0;
    letter-spacing: -1px;
    font-family: "Geist", sans-serif;
}

.logo .hide-name {
  display:none;
  transform: translateX(-20px);
  pointer-events: none;
  
}


.img-logo{
    width: 2rem;
    aspect-ratio: 1;
    object-fit: contain;
    display: inline-block;
}

.header-desktop {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.204);
    border-radius:var(--border-radius);
}


.header-desktop ul{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0;
}

.header-desktop ul .item-menu{
    padding: 0.8rem;
    height: fit-content;
    cursor: pointer;
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-color);
}
.header-mobile {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.204);
    border-radius:var(--border-radius);
    display: none;
}

.menu-wrapper {
    position: relative;
    width: auto;
}

.openMenu {
    top: 4rem;
    right: 0;
    left: auto; 
    width: calc(93.2vw);
    height: 85vh;
    position: absolute;
    background-color: var(--black-fade-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 2rem;
    z-index: 2100; 
}
.cta-menu{
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-transform: uppercase;
}

.header-mobile .close-icon{
    min-width:4rem;
    padding: 0.8rem;
    height: fit-content;
    cursor: pointer;
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    color:var(--white-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.close-icon-icon{
    stroke-width: 0.8;
    margin-left: 0.5rem;
}


.nav-open{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    color: var(--white-color);
}

.nav-open h1{
    font-size: 3rem;
    width: 50%;
    text-align: start;
}

.nav-open .links{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: end;
}

.links .title-bold{
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.item-menu{
  text-decoration: none;
  margin: 0.3rem 0;
  text-transform: capitalize;
  padding-right: 3rem;
}

.item-menu:hover{
    text-decoration: none;
}

  .item-menu.active {
    pointer-events: none; 
    text-decoration: line-through;
  }

.item-menu:active::after {
  width: 100%;
}

.openMenu .item-menu {
  width: fit-content;
  padding: 0;
}

.closedMenu{
  display: none;
}

.simple-contact{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
}

.simple-contact .small-title {
    width: fit-content;
    font-weight: 400;
    text-transform: lowercase;
    margin-top: 0.3rem;
    color: var(--white-fade-color);
}

.social-links{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;
    border-top: 1px solid var(--white-fade-color);
    padding-top: 1rem;
}

.social-links a{
    text-decoration: none;
    width: fit-content;
    margin: 0 1rem;
    color: var(--white-fade-color);
    text-transform: capitalize;
    text-decoration: none;
}

.social-links a:hover{
    color: var(--accent-color);
}


.openMenu .background-shadow{
    width: 100%;
    height: 100px;
    border-radius: 0;
    bottom:0;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: blur(350px);
}

/* RESPONSIVE NAVBAR */
@media screen and (max-width:480px) {
    .navbar{
      height: fit-content;
    }

    .img-logo{
        width: 30px;
        height: 30px; 
    }
    .name-app{
        font-size: 0.8em;
    }

    .openMenu{
        padding:0 1rem 2rem 1rem;
    }

    .nav-open{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .nav-open h1{
        font-size: 2.5rem;
        line-height: 2rem;
        width: 50%;
        text-align: start;
        align-items: center;
        justify-content: center;

    }

    .nav-open .links{
        width: 50%;
        justify-content: start;
    }

    .item-menu{
        margin: 0.3rem 0;
        text-transform: capitalize;
        padding-right: 0rem;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }

}

@media screen and (min-width:481px)  and (max-width:768px){
    .navbar{
      width: 97%;
      padding: 0;
      padding: 0 5%;
      height: fit-content;
      padding: 10px 0px;
    }

    .navbar .logo{
        margin-left: 2%;
    }
    .img-logo{
        width: 30px;
        height: 30px; 
    }
    .name-app{
        font-size: 0.8em;
    }
    .navbar .header-mobile .menu-icon{
       margin-right: 5%;
    }

    .openMenu .item-menu {
         font-size: 1.2rem;
         font-weight: 300;
         margin-top: 20px;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }
}

@media screen and (min-width:769px)  and (max-width:1024px){
    .navbar{
      width: 100%;
      padding: 0;
      padding: 0 5%;
      height: fit-content;
      padding: 10px 0px;
    }

    .navbar .logo{
        margin-left: 2%;
    }
    .img-logo{
        width: 30px;
        height: 30px; 
    }
    .name-app{
        font-size: 0.8em;
    }

    .navbar .header-mobile .menu-icon{
       margin-right: 5%;
    }
}

@media screen and (min-width:1920px) {
    .navbar{
      width: 100%;
      padding:20px 5%;
      height: fit-content;
    }

    .navbar .logo{
        margin-left: 2%;
    }
    .img-logo{
        width: 30px;
        height: 30px; 
    }
    .name-app{
        font-size: 0.8em;
    }

    .navbar .header-mobile .menu-icon{
       margin-right: 5%;
    }

    .item-menu{
        font-size: 1.8rem;
    }

    .logo .name-app{
        font-size: 2rem;
        margin-left: 0.5rem;
    }

    .img-logo{
        width: 80px;
        height: 80px;
}

}




