.hero-section{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    padding: 20px 5%;
    background: var(--primary_lite) ;
    color: #000;
}

.background-container{
    display: flex;
    width: fit-content;
    height: fit-content;
    position:absolute;
    top: 0;
    left: 40%;
    display: none;
}

.background-container-2{
    width: fit-content;
    height: fit-content;
    position:absolute;
    top: 79%;
    left: 0%;
    display: block;

}

.background-blur2{
    background: linear-gradient(45deg,#ff7777,#1900ff);
    width: 100px;
    height: 100px;
    filter: blur(120px);
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    display: none;
}

.background-blur{
    display: block;
    width: 100px;
    height: 100px;
    filter: blur(120px);
    opacity: 1;
}

.background-blur:nth-child(1){
    background-color: #00c8ff70;
}

.background-blur:nth-child(2){
    margin-left: 100px;
    background-color: #0400ff66;
}
.img-hero{
    width: 700px;
    height: 700px;
    position: relative;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
}

.hero{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    text-align: center; 
    margin-top: 10%;
    padding: 0 150px;
}

.xh2{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
}

h2{
    font-size: 3rem;
    font-weight:200;
    font-family: "Inter", sans-serif;
    text-transform:uppercase;
    line-height: 3rem;
    letter-spacing: 0.0000001rem;
    text-align: center;
    float: right;
    color: #303030;
}

h2 span{
    font-family: "Arapey", serif;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    font-size:4rem;
    line-height: 4rem;
    background: linear-gradient(145deg, #28c1f4, #8c00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* color: #fff; */
    padding: 0px 20px 0 0;
}

.hero-title{
    display: flex;
    flex-flow: row;
    width: 80%;
    justify-content: center;
    margin: 40px auto 0px auto;
    display: flex;
}

.herotitle{
    font-size: 0.7rem;
    font-family: "Inter", serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0.8%;
    color: #666;
    border-right: 0.5px  solid #ccc;
    padding-right: 10px;
}
.herotitle:last-child{
    border-right: 0;
}
.svg-line{
    margin: auto 0;
}
.available{
    position: absolute;
    right: 3%;
    top: 90%;
    display: flex;
    flex-flow: row;
    height: fit-content;
    width: fit-content;
}

.two-circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;

}

.available-circle-large{
    position: absolute;
}

.available-circle{
    position: absolute;
}

.available-text{
    font-size: 14px;
    margin-left:30px;
    margin-top: -10px;
    padding: 0;
}

.scatter-container {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scatter-item {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media screen and ( max-width:480px) {

   .hero-section{
      height: 90vh;
    }

    .hero{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      text-align: center; 
      margin-top: 10%;
      padding: 0px;
    }


    .xh2{
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin:40px 0px 10px 0px;
    }

    h2{
      font-size:1.4rem;
      font-weight: 400;
      line-height: 1.8rem;
    }

    h2 span{
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      font-size: 2rem;
      line-height: 1.2rem;
    }

    .hero-title{
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: center;
      margin: 30px auto 0px auto;
      display: flex;
    }

    .herotitle{
      font-size: 0.5rem;
      margin: 0 1%;
      color: #303030;
    }

    .scatter-container {
      position: relative;
      height: 100%;
      }

    .scatter-item {
      position: absolute;
      width:90%;
      aspect-ratio: 1;
      object-fit: cover;
      transform: scale(1);
    }
    
}


/* Small tablets: 480px – 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {

   .hero-section{
      height: 90vh;
    }

    .hero{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      text-align: center; 
      margin-top: 10%;
      padding: 0px;
    }


    .xh2{
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin:40px 0px 10px 0px;
    }

    h2{
      font-size:2.4rem;
      font-weight: 400;
      line-height: 2.6rem;
    }

    h2 span{
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      font-size: 2.8rem;
      line-height: 2.8rem;
    }

    .hero-title{
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: center;
      margin: 30px auto 0px auto;
      display: flex;
    }

    .herotitle{
      font-size: 0.6rem;
      margin: 0 1%;
      color: #303030;
    }

    .scatter-container {
      position: relative;
      height: 100%;
      }

    .scatter-item {
      position: absolute;
      width:60%;
      height: 80%;
      aspect-ratio: 1;
      object-fit: cover;
      transform: scale(1);
    }
    
}

/* Tablets / small laptops: 769px – 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    
   .hero-section{
      height: 90vh;
    }

    .hero{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: column nowrap;
      text-align: center; 
      margin-top: 10%;
      padding: 0px;
    }


    .xh2{
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin:40px 0px 10px 0px;
    }

    h2{
      font-size:2.4rem;
      font-weight: 400;
      line-height: 2.6rem;
    }

    h2 span{
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      font-size: 2.8rem;
      line-height: 2.8rem;
    }

    .hero-title{
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: center;
      margin: 30px auto 0px auto;
      display: flex;
    }

    .herotitle{
      font-size: 0.6rem;
      margin: 0 1%;
      color: #303030;
    }

    .scatter-container {
      position: relative;
      height: 100%;
      }

    .scatter-item {
      position: absolute;
      width:20%;
      height: 60%;
      aspect-ratio: 1;
      object-fit: cover;
      transform: scale(1);
    }
    
  
}

/* Desktop: 1990px+ */
@media screen and (min-width: 1920px) {
      h2{
      font-size:5rem;
      line-height: 5rem;
    }

    h2 span{
      font-size: 6rem;
      line-height: 6rem;
    }
    
    .herotitle{
      font-size: 1.5rem;
      margin:40px 1% 0 1%;
    }

    .scatter-container {
      position: relative;
      height: 50%;
      padding: 30px 0px;
      }


    .scatter-item {
      width:400px;
      height: 400px;
      border: 1px solid green;
    }
    

  
}