    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    #root {
        margin: 0;
        padding: 0;
        height: fit-content;  
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    html{
        height: 100% !important;
        width: 100% !important;
        padding: 0 !important;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--black-fade-color) var(--primary_color);
    }

    .padding-space{
        padding-left: 3%;
        padding-right: 3%;
    }
    html.no-scroll {
        font: inherit;
    }

    .app{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        height: fit-content !important;  
        width: 100% !important;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        position: relative;
        margin: 0;
        padding: 0;
    }

    /* project title */
    .project-title{
        min-width: 400px;
        max-width: 50%;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.6rem;
        text-align: start;
        margin: 0;
    }

    /* CONTAINERS AND LAYOUTS */
    .container-holder{
        width: 100%;
        height: fit-content;
    }

    .g-holder{
        width: 100%;
    }

    .span-highlight{
        font-size: 3rem;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--white-color);
    }

    .navigation-link{
        text-decoration: none;
    }

    .navigation-link:hover{
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    /* ALIGNMENT */
    .w-100{
        width: 100%;
    }

    .w-50{
        width: 50%;
    }
    .flex{
        display: flex;
    }
    .row{
        flex-flow: row nowrap;
    }
    .column{
        flex-flow:column nowrap;
    }

    .wrap{
        flex-wrap: wrap;
    }

    .nowrap{
        flex-wrap: nowrap;
    }

    .flex-column{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .space-between{
        justify-content: space-between;
    }

    .center-horizontal{
        margin: 0 auto;
    }

    .lc-icon{
        stroke-width: 0.09rem;
    }

    .big-image{
        width: 100%;
        height: 80vh;
        justify-content: center;
        display: flex;
        flex-direction:column ;
    }

    .big-title{
        width: fit-content;
        height: fit-content;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

    .big-title p{
        margin-top:2rem ;
        text-align: center;
    }

    .larger-h1{
        width: 60%;
        font-size: 5rem;
        line-height:5.3rem;
        font-weight: 500;
        letter-spacing: -3px;
    }

    .title-bold-extra{
        color: var(--white-fade-color);
        font-size: 1.7rem;
        line-height: 1.8rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    .title-bold{
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: var(--white-grey-color);
    }

    .small-title{
        font-size: 0.78rem;
        line-height: 1.1rem;
        font-weight: 400;
        align-items: start;
    }

    .button-cta{
        font-family: "Inter",sans-serif;
        padding: 0.2rem 0.9rem;
        border: none;
        cursor: pointer;
        font-size: 0.70rem;
        font-weight: 800;
        letter-spacing: 0.01px;
        text-transform: uppercase;
    }

    .linkTo{ 
        text-transform: capitalize;
        padding: 0.2rem 0.9rem;
        text-decoration: none;
        background-color: var(--black-color);
        width: fit-content;
        border-radius: var(--border-radius);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--text-white-color);
        text-decoration: none;
        outline: none;
    }


    .linkTo h4{
        font-size: 0.74rem;
        color: var(--text-white-color);
        font-weight: 400;
        text-decoration: none;
        margin-right: 0.5rem;
        text-transform: capitalize;
        letter-spacing: 0.001px;
        text-decoration: none;
    }

    .linkTo:hover{
        color: var(--text-black-color);
        background-color: var(--accent-color);
        font-weight: 400;
        text-decoration: none;
    }

    .linkTo:hover h4{
        color: var(--text-black-color);
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.608);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .contact-modal {
        background-color: var(--black-color);
        padding: 20px 50px;
        border-radius: 10px;
        width: 80%;
        max-width: 80%;
        height: fit-content;
        display: flex;
        padding: 2rem auto;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding-bottom: 4rem;
    }

    .contact-modal .intro-close{
        width: 100%;
        height: fit-content;
        color: var(--text-white-color);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .contact-modal .intro-close h3{
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 900;
        color: var(--text-white-color);
        text-decoration: underline;
    }
    .contact-modal .intro-close button{
        font-size: 1.1rem;
        color: var(--text-whitefade-color);
        padding: 0.3rem 0.6rem;
        font-weight: 900;
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--black-fade-color);
        border:1px solid var(--border-fade-color);
        cursor: pointer;
    }

    .contact-modal .forx{
        width: 100%;
        justify-content: space-between;
    }

    .contact-modal .form-c{
        width: 60%;
        height: fit-content;
        margin-top: 1rem;
        background-color: transparent;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: center;
         font-family: "Inter", sans-serif;
    }

    .contact-modal .form-c .form-group{
        width: 100%;
    }

    .contact-modal .form-c .form-group .small{
        font-size: 0.70rem;
        font-weight: 200;
        margin-bottom: 0.9rem;
        color: rgb(245, 180, 180);
    }

    .contact-modal .form-c .naemail{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: var(--text-white-color);
    }

    .contact-modal .form-c .naemail .form-group:nth-child(2) {
        margin-left: 0.5rem;
    }

    .contact-modal .form-c .naemail-mobile{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: var(--text-white-color);
        margin-top: 0.5rem;
    }


    .contact-modal .form-c .chooselist{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        color: var(--text-whitefade-color);
        margin: 2rem 0;
        background-color: var(--black-color);
        border-radius: var(--border-radius);
        padding: 0;
    }


    .contact-modal .form-c .chooselist h4{
        font-size: 0.8rem;
        text-transform: capitalize;
        color: var(--text-grey-color);
        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .contact-modal .form-c .chooselist .list-choice{
        width: 60%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .contact-modal .form-c .chooselist .list-choice .checkbox-service{
        width: fit-content;
        text-transform: uppercase;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items:center;
        margin-top: 1rem;
    }

    .contact-modal .form-c .chooselist .list-choice .checkbox-service input[type="checkbox"]{
        margin-right: 0rem;
        display: none;
    }

    .contact-modal .form-c .chooselist .list-choice .checkbox-service label{
        font-size: 0.65rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 400;
        gap: 0.3rem;
        font-family: "Inter", sans-serif;
        color: var(--text-grey-color);
    }

    .contact-modal .form-c .chooselist .list-choice .checkbox-service label .custom-checkbox{
        display: block;
        width: 0.8rem;
        height: 0.8rem;
         border: 1px solid var(--border-fade-color);
        border-radius: 0px;
        position: relative;
        transition: all 0.3s ease;
    }

    .contact-modal .form-c .chooselist .list-choice .checkbox-service input:checked + label .custom-checkbox {
        background: var(--accent-color);
    }

    .contact-modal .form-c .chooselist .list-choice .checkbox-service input:checked + label .custom-checkbox {
        background: var(--accent-color);
    }

    .contact-modal .form-c .chooselist .list-choice .checkbox-service      input:checked + label .custom-checkbox::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 20%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 8px;
        border: solid var(--text-black-color);
        border-width: 0px 2px 2px 0px;
        transform: rotate(45deg);
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .contact-modal .form-c .form-group input[type="text"], .contact-modal .form-c .form-group  input[type="email"]{
        font-size: 0.8rem;
        padding: 0.5rem;
        background-color: var(--black-fade-color);
        color: var(--text-white-color);
        border: none;
        outline: none;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        border: 1px solid var(--border-fade-color);
        border-radius:var(--border-radius);
    }

    .contact-modal .form-c .form-group input[type="text"]{
        width: 100%;
    }

    .contact-modal .form-c .form-group input[type="email"]{
        width: 100%;
    }

    .contact-modal .form-c .form-group #detail{
        width: 100%;
        height: 8rem;
        border: none;
        outline: none;
        background-color: var(--black-fade-color);
        color: var(--text-white-color);
        padding: 0.7rem;
        font-weight: 300;
        font-family: "Inter", sans-serif;
        border: 1px solid var(--border-fade-color);
        border-radius: var(--border-radius);
    }

    .contact-modal .form-c p{
        color: var(--text-grey-color);
        font-size: 0.7rem;
        font-weight: 300;
        margin-top: 3rem;
    }

    .contact-modal .form-c .linkTo{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: none;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
    }

    .contact-modal .form-c .linkTo h4{
        text-transform: uppercase;
        font-weight: 800;
        margin-right: 1rem;
        font-size: 0.8rem;
    }

    .contact-modal .form-c .linkTo .lc-icon{
        font-weight: 300;
        size: 0.1rem;
        stroke-width: 0.9;
    }

    .extra-c{
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        align-items: flex-end;
        padding-right: 5%;
    }

    .extra-c .contacts{
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .extra-c a{
        font-size: 1rem;
        color: var(--text-whitefade-color);
        margin-bottom: 0.5rem;
        font-weight: 400;
        text-align: start;
    }

    .extra-c a:hover{
        text-decoration: underline;
        color: var(--text-whitefade-color);
        cursor: pointer;
    }

    .extra-c .socials{
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        margin-bottom: 4rem;
    }

    .extra-c .socials a{
        text-decoration: none;
        color: var(--text-whitefade-color);
        margin-left: 0.5rem;
    }

    .extra-c .address{
        font-size: 0.85rem;
        color: var(--text-whitefade-color);
        font-weight: 500;
        text-align: end;
    }


:root {
    /* white color */
    --white-color:#ffffff;
    --white-fade-color:#f0f0f0;
    --accent-color:#33ccff;
    --background-color:#f4f4f4;
    /* black color */
    --black-color:#191919;
    --black-fade-color:#232323;
    /* Text Color */
    --text-grey-color:#9e9e9e;
    --text-blackfade-color:#3a3a3a;
    --text-whitefade-color:#c1c1c1;
    --text-black-color:#000000;
    --text-white-color:#ffffff;
    /* border-color */
    --border-color:#e5e5e5;
    --border-fade-color:#5959596d;
    --border-whitefade-color:#d7d6d66d;
    /* border-radius */
    --border-radius:0.5rem;

}

@media screen and (max-width:480px) {



        .title-bold-extra{
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 700;
        }

        .title-bold{
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: var(--black-color);
        }

        .small-title{
            width: 30%;
            text-transform: lowercase;
            font-size: 0.95rem;
            line-height: 1.5rem;
            font-weight: 400;
            align-items: start;
        }


 


    
}

@media screen and (min-width:481px) and (max-width:768px) {

    .project-title{
        width: 60%;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 20px;
    }

    .small-title{
        width: 80%;
        text-transform: lowercase;
        font-size: 0.95rem;
        font-weight: 300;
        line-height: 1.4rem;
        align-items: start;
    }

    
}

@media screen and (min-width:1920px) {

    .project-title{
        width: 60%;
        font-size: 3rem;
        font-weight: 600;
        line-height: 3.5rem;
        color: #303030;
    }

    .small-title{
        width: 35%;
        text-transform: lowercase;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        align-items: start;
    }

    span{
        font-size: 1.6rem;
        font-weight: 800;
    }

    .arrow-icon{
        color:#fff;
        width: 5rem;
        height: 3rem;
    }


}