    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    #root {
        margin: 0;
        padding: 0;
        height: fit-content;  
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    html{
        height: 100% !important;
        width: 100% !important;
        padding: 0 !important;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--black-fade-color) var(--primary_color);
    }

    .padding-space{
        padding-left: 6%;
        padding-right: 6%;
    }
    html.no-scroll {
        font: inherit;
    }

    .app{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        margin-top: 0px;
        padding:0%   !important;
        height: fit-content !important;  
        width: 100% !important;
        font-family: "Geist", sans-serif;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
    }

    /* project title */
    .project-title{
        min-width: 400px;
        max-width: 50%;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.6rem;
        text-align: start;
        margin: 0;
    }

    /* CONTAINERS AND LAYOUTS */
    .container-holder{
        width: 100%;
        height: fit-content;
        padding: 0 5%;
        margin: 20px 0px 50px 0px;
    }

    .g-holder{
        width: 100%;
    }

    .span-highlight{
        font-size: 3rem;
        font-weight: 500;
        font-family: "Kaushan Script",cursive;
        text-transform: capitalize;
        color: var(--white-color);
    }

    .navigation-link{
        text-decoration: none;
    }

    .navigation-link:hover{
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    /* ALIGNMENT */

    .w-100{
        width: 100%;
    }
    .flex{
        display: flex;
    }
    .row{
        flex-flow: row nowrap;
    }
    .column{
        flex-flow:column nowrap;
    }

    .wrap{
        flex-wrap: wrap;
    }

    .nowrap{
        flex-wrap: nowrap;
    }

    .flex-column{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .space-between{
        justify-content: space-between;
    }

    .center-horizontal{
        margin: 0 auto;
    }

    .big-image{
        width: 100%;
        height: 80vh;
        justify-content: center;
        display: flex;
        flex-direction:column ;
    }

    .big-title{
        width: fit-content;
        height: fit-content;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

    .big-title p{
        margin-top:2rem ;
        text-align: center;
    }

    .larger-h1{
        width: 60%;
        font-size: 3rem;
        line-height: 3.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .title-bold-extra{
        color: var(--white-fade-color);
        font-size: 1.7rem;
        line-height: 1.8rem;
        font-weight: 700;
    }

    .title-bold{
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 400;
        color: var(--black-color);
    }

    .small-title{
        width: 30%;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 500;
        align-items: start;
    }

.background-shadow{
        position: absolute;
        width: 50%;
        height: 200px;
        background: radial-gradient(
            circle at center,
            var(--accent-color) 0%,   
            rgba(0, 170, 255, 0.55) 20%,
            rgba(63, 94, 251, 0.64) 50%,
            var(--accent-color) 70%,
            rgba(63, 94, 251, 0.22) 85%,
            rgba(63, 94, 251, 0) 100%
        );
        filter: blur(100px);
}

:root {
    /* white color */
    --primary_color: #ffffff;
    --white-color:#ffffff;
    --white-fade-color:#aaa;
    --dark-white:#edf1f2;

    /*accent color  */
    /* --accent-color:#00f2ff; */
    --accent-color:#46F4FF;

    /* black color */
    /* --black-color:#1c1f24; */
    /* --black-color:#202020; */
    --black-color:#0F172A;
    --black-2-color:#181b1f;
    --black-fade-color:#161616;

    /* border-color */
    --border-color:#e5e5e5;
    --border-fade-color:#333;

    /* fade-color */
    --fade-color:#303030;

    /* border-radius */
    --border-radius:0.5rem;
    --background-variation:radial-gradient(
        45deg,
        rgba(252, 70, 106, 0.636) 0%,
        rgba(252, 70, 106, 0.543) 20%,
        rgba(63, 94, 251, 0.64) 50%,
        rgba(63, 94, 251, 0.15) 70%,
        rgba(63, 94, 251, 0.223) 85%,
        rgba(63, 94, 251, 0) 100%
  );
}

@media screen and (max-width:480px) {

        .larger-h1{
            text-align: center;
            margin: auto auto;
            font-size: 2.3rem;
            line-height: 2.3rem;
        }

        .title-bold-extra{
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 700;
        }

        .title-bold{
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: var(--black-color);
        }

        .small-title{
            width: 30%;
            text-transform: lowercase;
            font-size: 0.95rem;
            line-height: 1.5rem;
            font-weight: 400;
            align-items: start;
        }


 


    
}

@media screen and (min-width:481px) and (max-width:768px) {

    .project-title{
        width: 60%;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 20px;
    }

    .small-title{
        width: 80%;
        text-transform: lowercase;
        font-size: 0.95rem;
        font-weight: 300;
        line-height: 1.4rem;
        align-items: start;
    }

    
}

@media screen and (min-width:1920px) {

    .project-title{
        width: 60%;
        font-size: 3rem;
        font-weight: 600;
        line-height: 3.5rem;
        color: #303030;
    }

    .small-title{
        width: 35%;
        text-transform: lowercase;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        align-items: start;
    }

    span{
        font-size: 1.6rem;
        font-weight: 800;
    }

    .arrow-icon{
        color:#fff;
        width: 5rem;
        height: 3rem;
    }


}