.process{
    width: 100%;
    height:fit-content;
    padding-bottom: 2rem;
    background-color: var(--background-color);
    z-index: 15;
    padding-top: 6rem;
}

.process .title-intro{
    width: 50%;
    height: fit-content;
    margin: 0 auto 12rem auto;
}

.process .title-intro .larger-h1{
    color: var(--text-blackfade-color);
    width: 100%;
    text-align: center;
}

.process .title-intro .small-title{
    width: 60%;
    margin: 3rem auto;
}